* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #ccc;
}

button {
    cursor: pointer;
}

button:hover {
    background-color: #555;
    color: #fff;
}